.navbar {
  display: flex;
}
.navbar > li {
  margin: 0 10px;
  list-style: none;
}
.Header {
  display: flex;
  justify-content: space-evenly;
}
.main {
  display: flex;
  justify-content: space-evenly;
}
