@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

.navbar {
  display: flex;
}
.btn-book-now > button {
  background-color: rgb(230, 164, 59);
  color: #fff;
  border: none;
  outline: none;
  border-radius: 7px;
  font-weight: bolder;
  width: 50%;
  height: 50px;
}

.btn-book-now-2 > button {
  background-color: rgb(25, 98, 149);
  color: #fff;
  border: none;
  outline: none;
  border-radius: 7px;
  font-weight: bolder;
  width: 50%;
  height: 50px;
}

.navbar a {
  margin: 0 10px;
  list-style: none;
  color: rgb(25, 98, 149);
  font-family: "Poppins", sans-serif;
  font-weight: bolder;
  text-decoration: none;
}
.navbar a:hover {
  color: rgb(0, 0, 0);
  text-decoration: underline;
  cursor: pointer;
  transition-property: all 0.5s ease-in-out;
}
.Header {
  display: flex;
  justify-content: space-evenly;
}
.main {
  display: flex;
  justify-content: space-evenly;
  margin: 0 20px 0 20px;
}
.main-left-text {
  color: rgb(25, 98, 149);
  font-size: 60px;
  font-family: "Poppins", sans-serif;
}
.main-left-section {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 30px;
}
.main-left-see-all {
  text-decoration: underline;
  cursor: pointer;
}
.main-left-text-span {
  color: rgb(230, 164, 59);
}
.main-left-btn {
  color: #fff;
  align-content: center;
  width: 200px;
  height: 50px;
  border: none;
  outline: none;
  border-radius: 7px;
  font-weight: bolder;
  background-color: rgb(230, 164, 59);
}
.main-left-btn:hover,
.main-left-btn:active {
  background-color: rgb(25, 98, 149);
  transition: all 1s;
  cursor: pointer;
}
.main-right-img {
  min-width: 10%;
  max-height: fit-content;
  border-radius: 20px;
  overflow: hidden;
}
.homeimg {
  width: 100%;
}
.testimony {
  margin-top: 10px;
  background-color: rgb(230, 164, 59);
  width: fit-content;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  border-radius: 0 20px 20px 0;
}
.main-left-text-p {
  font-family: "Poppins", sans-serif;
  font-size: 150%;
  color: #857f7f;
}
.car-brands {
  display: flex;
  border-radius: 2px;
  flex-direction: column;
  overflow: hidden;
  height: 19vh;
  background-color: rgb(228, 228, 228);
}
.best-deals-h1 {
  position: relative;
  left: 25%;
  width: fit-content;
  color: rgb(25, 98, 149);
  font-family: "Poppins", sans-serif;
}
.card-heading,
.card-text {
  color: #fff;
  margin: auto;
  font-family: "poppins", sans-serif;
}

.card-heading {
  font-weight: bolder;
}
.testimony-text-card {
  margin: 10px 20px 0 20px;
}
.cars-container {
  display: flex;
  flex-wrap: wrap;
  background-color: none;
  width: 100%;
  margin-bottom: 20px;
}
.cars {
  background-color: rgb(25, 98, 149);
  margin: 10px 20px 0 0;
  width: 200px;
  text-align: center;
  border-radius: 12px;
  color: #fff;
}
.cars:hover,
.cars:active,
.cars:focus {
  background-color: #282727;
  transition: all 0.15s ease-in-out;
  cursor: pointer;
}

.cars-next {
  background-color: rgb(230, 164, 59);
  margin: 10px 20px 0 0;
  width: 200px;
  text-align: center;
  border-radius: 12px;
  color: #fff;
}
.cars-next:hover,
.cars-next:active,
.cars-next:focus {
  background-color: #282727;
  transition: all 0.15s ease-in-out;
  cursor: pointer;
}
.cars-img > img {
  padding: 20px;
  margin: 10px 0 10px 0;
  width: 70%;
}
.form-wrapper {
  display: flex;
  width: fit-content;
  margin: 0 20px;
}

.testimony-text-cards {
  display: flex;
  flex-direction: row;
  margin: 2 20px 0 20px;
}

@media screen and (max-width: 768px) {
  .homeimg {
    width: 70%;
  }
}
@media screen and (max-width: 789px) {
  .homeimg {
    width: 50%;
  }
}

@media screen and (max-width: 1280px) {
  .homeimg {
    width: 100%;
  }
  .car-brands {
    display: flex;
    border-radius: 2px;
    flex-direction: column;
    overflow: hidden;
    height: 11vh;
    background-color: rgb(191, 197, 205);
  }
}
@media screen and (max-width: 600px) {
  .main-left-text {
    font-size: 32px;
  }
  .main-left-text-p {
    font-size: 16px;
  }
  .main-left {
    flex-wrap: wrap;
  }
}

@media screen and (max-width: 568px) {
  .main {
    flex-wrap: wrap;
  }
  .main-right-img,
  .homeimg {
    display: none;
  }
}

@media screen and (max-width: 400px) {
  .main-right-img,
  .homeimg {
    display: none;
  }
}

@media screen and (max-width: 500px) {
  .Header-logo {
    display: none;
  }
}
